<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: yellow;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: green;
}

p {
  rgb(100, 256, 100)
</style>
</head>
  <body>
  
  <h1>Hello!</h1>
  <h2>How are you?</h2>
  <p>I love Jesus Christ and He loves me too.</p>
  
  </body>
  </html>
  
